.notebook-girl-bg {
  background-image: url("/media/image/notebook-girl.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#pixabay-backdrop {
  background-image: url("/media/image/hardwood-backdrop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

@media only screen and (max-width: 600px) {
  #login-box {
    width: 75% !important;
    height: 28% !important;
    margin: 60% auto 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (min-width: 601px) {
  #login-box {
    width: 40% !important;
    height: 24% !important;
    margin: 15% auto 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.pi-login-form-control {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px;
  border-bottom-color: white;
  background-color: rgba(120, 120, 120, 0.6);
  color: white;
  width: 100%;
  height: 150%;
  margin: auto 0;
}

.floatingActionButtonUpLeft {
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 9998;
}

